.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 5px 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 4px;
}

// Button types
.outline,
.rounded {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  border-color: rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.rounded {
  border-radius: var(--search-border-radius);
}

.primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: currentColor;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      rgb(254, 44, 85);
  }
}

.outlinePrimary {
  color: var(--primary);
  border-color: currentColor;
  &:hover {
    background-color: rgba(254, 44, 85, 0.08);
  }
}

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 148px;
  padding: 14px 16px;
}
