.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  color: var(--text-color);
  &:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.username-verified {
  display: flex;
}

.username {
  font-size: 1.6rem;
  font-weight: 600;
}

.verified {
  margin-left: 4px;
  font-size: 1.4rem;
  color: var(--checked-color);
}

.name {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--title-color);
}
