.wrapper {
  width: 240px;
  height: 356px;
  padding-right: 8px;
  background: rgb(255, 255, 255);
  perspective: 1px;
  overscroll-behavior-y: contain;
  transform-style: preserve-3d;
  perspective-origin: right top;
  overflow: hidden auto;
  bottom: 0;
  top: var(--default-layout-header-height);
  position: fixed;
  z-index: 99;
}
