.wrapper {
  position: relative;
  padding: 16px 0px;
  border-top: 1px solid var(--border-color);
}

.label {
  padding: 0px 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--title-color);
}

// Account item
.account-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out 0s;

  &:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 12px;
  line-height: 1;
}

.nickname {
  display: flex;
  font-size: 1.6rem;
  color: var(--text-color);
}

.verified {
  color: var(--checked-color);
  margin-left: 4px;
  font-size: 1.4rem;
}

.name {
  font-size: 1.2rem;
}

// See all btn
.button {
  background-color: var(--white);
  cursor: pointer;
}

.button-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
  padding: 8px;
}

// Popper Wrapper
.preview {
  // width: 320px;
}

.menu-popper {
  width: 320px;
}
